<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.krasovsky.dima.demoproject">

    <application>
        <activity android:name=".main.view.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
